
/venv/

/datashets

/databases_prepros/modelo_conv2
/databases_prepros/modelo_conv3
/databases_prepros/modelo_conv4
/databases_prepros/modelo_conv5

*.pickle

*.csv

*.txt

/datashets/*.txt

/img_datashet

/modelo_conv2

/*.png

/*.h5

/*.npy

/*.rar

/*.npy





